div.hero
  div.header
    figure.image
      img(src="./img/logo-debate3d-white.png")
        
    a(class="button is-info is-small" href="/app") Acessar
    
  
  div(class="content" data-aos="fade-up")
    h1.title.has-text-centered.has-text-weight-bold Amplie a experiência de seus seguidores
    h2.subtitle.has-text-centered Seja um moderador por apenas
    
    p.title.has-text-centered R$ 29.90 / mês
    
    form(
      action="https://pagseguro.uol.com.br/pre-approvals/request.html"
      method="post")
      input(type="hidden" name="code" value="A0D72E68A0A0817884F5FF9C1AD40093")
      input(type="hidden" name="iot" value="button")
      input(type="submit" class="button is-success is-medium" value="Assine já")

    span(
      class="icon is-large"
      data-aos="fade-up"
      data-aos-easing="ease"
      data-aos-delay="400")
      i(class="fa fa-arrow-down fa-2x" aria-hidden="true")
