section.section.section-info
  div.container
    h2.title.has-text-centered
      | Temas #[span.has-text-warning polêmicos] de tirar o fôlego
    
    hr
    
    p.has-text-centered
      | Você participa deixando seu
      | #[span.is-uppercase.has-text-weight-bold voto]
      | ou criando um
      | #[span.is-uppercase.has-text-weight-bold card]
      | com seu argumento
  
  div.palanques
    
    div.palanque.palanque__left
      figure(
        class="image is-128x128"
        aria-hidden="true"
        data-aos="fade-up-right"
        data-aos-duration="800")
        
        img(src="./img/balao1.png")
        
      figure(class="image" aria-hidden="true")
        img(src="./img/palanque-left.png")
      
    div.palanque.palanque__right
      figure(
        class="image is-128x128"
        aria-hidden="true"
        data-aos="fade-up-left"
        data-aos-delay="1000"
        data-aos-duration="800")
        
        img(src="./img/balao2.png")
          
      figure(class="image" aria-hidden="true")
        img(src="./img/palanque-right.png") 
